---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="mx-auto max-w-7xl flex flex-col min-h-screen place-content-center"
  >
    <div class="text-center">
      <h1 class="text-lg font-semibold text-blue-600">
        Welcome to <a class="underline" href="https://github.com/brian14708"
          >@brian14708</a
        >'s homepage!
      </h1>
      <p class="mt-5 text-4xl text-stone-800 font-bold tracking-tight">
        🚧 Under construction. 🚧
      </p>
    </div>
  </div>
</Layout>
