---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="mx-auto max-w-7xl flex flex-col min-h-screen place-content-center"
  >
    <div class="text-center">
      <h1 class="text-lg font-semibold text-blue-600">
        Welcome to <a class="underline" href="https://github.com/brian14708"
          >@brian14708</a
        >'s homepage!
      </h1>
      <p class="mt-5 text-4xl text-stone-800 font-bold tracking-tight">
        🚧 Under construction. 🚧
      </p>
      <span class="h-card hidden">
        <a class="p-name u-url" href="https://brian14708.dev">Brian Li</a>
        <a
          class="p-nickname u-url"
          rel="me"
          href="https://github.com/brian14708">brian14708</a
        >
        <a
          rel="pgpkey"
          href="/.well-known/openpgpkey/hu/s8y7oh5xrdpu9psba3i5ntk64ohouhga"
          >PGP Key</a
        >
      </span>
    </div>
  </div>
</Layout>
